@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: $main-background;

  .main-container {
    overflow: auto;
    
    .threads-grid {
      @include flex-column;
      align-items: center;
      max-width: $max-width;
      min-width: $min-width;
      margin: 0 auto;
      padding: $spacing-large;

      .error {
        @include warning-message;
        color: $error;
      }

      .no-data {
        @include warning-message;
        color: $main-text;
      }
    }
  }
}
