body {
  background-color: $main-background;

  .main-container {
    position: relative;
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;

    .threads-grid {
      @include flex-column;
      align-items: center;
      width: 100%;
      padding: 20px;

      .error {
        color: $error;
        font-weight: bold;
      }
    }
  }
}
