.thread-group {
  @include width(100%);
  position: relative;
  
  .thread-card {
    @include width(100%);
    position: relative;
    margin-bottom: $spacing-xlarge;
    padding: $spacing-large;
    border-radius: 8px;
    background: $card-background;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: $main-box-shadow;

    &.main-reply {
      top: 0;
      left: 0;
      z-index: 999;
    }

    &.secondary-reply {
      @include stacked-card-position($spacing-medium, var(--index));
      margin-bottom: 0;
    }

    &.expanded-reply {
      position: relative;
      top: auto;
      left: auto;
      z-index: auto;
      margin-bottom: $spacing-xlarge;
    }

    .inner-container {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;

      .left-side {
        @include width(70%);
        margin-right: $spacing-medium;

        .subject,
        .question,
        .text {
          color: $main-text;
        }

        .subject {
          margin-bottom: $spacing-small;
        }

        .question {
          margin-bottom: $spacing-medium;
        }

        .text {
          margin-bottom: $spacing-large;
        }
      }

      .right-side {
        @include flex-column;
        @include width(30%);
        align-items: flex-end;
        color: $main-text;
      }

      .date,
      .question {
        font-size:0.9rem;
      }
    }

    .message-count {
      position: absolute;
      top: -10px;
      right: $spacing-medium;
      width: 150px;
      padding: $spacing-small $spacing-medium;
      border-radius: $spacing-medium;
      color: $card-background;
      text-align: center;
    }

    &.low-score {
      .left-side {
        .subject {
          color: $title-low-rating;
        }
      }
      .message-count {
        background-color: $count-low-rating;
      }
    }

    &.high-score {
      .left-side {
        .subject {
          color: $title-high-rating;
        }
      }
      .message-count {
        background-color: $count-high-rating;
      }
    }
  }

  &.collapsed {
    .secondary-reply {
      @include stacked-card-position($spacing-medium, var(--index));
    }
  }

  &.expanded {
    .thread-card {
      position: relative;
      margin-bottom: $spacing-xlarge;
    }
  }
}
