.thread-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  .thread-card {
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: $card-background;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &.main-reply {
      top: 0;
      left: 0;
      z-index: 999;
    }

    &.secondary-reply {
      @include stacked-card-position(10px, var(--index));
    }

    .inner-container {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;

      .left-side {
        width: 70%;
        margin-right: 10px;

        .subject,
        .question,
        .text {
          color: $main-text;
        }

        .subject {
          margin-bottom: 5px;
        }

        .question {
          margin-bottom: 10px;
        }

        .text {
          margin-bottom: 20px;
        }
      }

      .right-side {
        @include flex-column;
        align-items: flex-end;
        width: 30%;
        color: $main-text;
      }
    }

    .message-count {
      position: absolute;
      top: -10px;
      right: 10px;
      padding: 5px 10px;
      border-radius: 10px;
      color: $card-background;
      background-color: $count-low-rating;
    }

    &.low-score {
      .left-side {
        .subject {
          color: $title-low-rating;
        }
      }
      .message-count {
        background-color: $count-low-rating;
      }
    }

    &.high-score {
      .left-side {
        .subject {
          color: $title-high-rating;
        }
      }
      .message-count {
        background-color: $count-high-rating;
      }
    }
  }
}
