
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin stacked-card-position($positionValue, $index) {
    position: absolute;
    top: calc(#{$positionValue} * #{$index});
    left: calc(#{$positionValue} * #{$index});
    z-index: calc(999 - #{$index});
  }