// Title colors:
$title-high-rating: #9335ff;
$title-low-rating: #e89d40;

//Count number colors:
$count-high-rating: #27aae1;
$count-low-rating: #e89d40;

//Text and background colors:
$main-text: #999999;
$main-background: #f2f2f2;
$error: #ff0000;
$card-background: #ffffff;

//Flex container sizes:
$max-width: 768px;
$min-width: 320px;
